:root {
    --primary-color: #ffffff;
    /* forest green */
    --secondary-color: #000000;
    /* warm sand */
    --accent1-color: #030d58;
    /* dark slate blue */
    --accent2-color: #04148d;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
article {
    margin: 16px;
    padding: 8px;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    background-color: #d2d7ff;
}

header a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
}

header ul {
    display: flex;
    list-style-type: none;
}

header li {
    flex: 1 1 auto;
    background-color: #1e016e;
    border: 1px solid rgb(37, 11, 130);
    padding: 0px;
    font-size: 20px;
    text-align: center;

}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 8px;
}

.history h2 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.history p {
    background-color: #ffffff;
    text-align: justify;
}

.adventures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 8px;

}

.adventures h2 {
    grid-column-start: 1;
    grid-column-end: 6;
}

.adventures figure {
    flex: 1;
    text-align: center;
    text-align: justify;
}

.adventures img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.footer {
    display: flex;
    justify-content: space-between;
    /* pushes text left, icons right */
    align-items: center;
    border-top: 1px solid #000;
    padding: 10px 0;
}

.footer p {
    margin: 0;
}

.socialmedia {
    display: flex;
    gap: 10px;
    /* cleaner spacing than margin */
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

h2 {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--accent1-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

footer {
    color: var(--secondary-color);
}